@page
@model ProximaLite.Web.Pages.Processes.CreateModel

<h1>Create process</h1>

<form method="post">
    <div>
        <label>Name</label>
        <input asp-for="Process.Name" />
    </div>

    <div>
        <label>Description</label>
        <textarea asp-for="Process.Description"></textarea>
    </div>

    <button type="submit">Save</button>
</form>

<p><a asp-page="Index">Back</a></p>
