@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo unde distinctio aliquid dolorem, delectus tenetur, id animi aut earum esse obcaecati rerum tempore vel voluptatibus maiores iste qui nesciunt suscipit!</p>
